@font-face {
  font-family: FarnhamDisplayLightSC;
  src: url(../fonts/farnham/FarnhamDisplay-LightSC.otf);
}

@font-face {
  font-family: DINProLight;
  src: url(../fonts/din/DINPro-Light.otf);
}

@font-face {
  font-family: FarnhamDisplay-RegularItal;
  src: url(../fonts/farnham/FarnhamText-RegularItalic.otf);
}

@font-face {
  font-family: FarnhamText-SeimiSC;
  src: url(../fonts/farnham/FarnhamText-SemiboldSC.otf);
}

@font-face {
  font-family: FarnhamText-Regular;
  src: url(../fonts/farnham/FarnhamText-Regular.otf);
}

@font-face {
  font-family: FarnhamText-RegularSC;
  src: url(../fonts/farnham/FarnhamText-RegularSC.otf);
}



html.homepage { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

body {
  color: #ccc;
}

a {
  color: #ccc;
}


.header {
  text-align: center;
}

h2 {

  color: #ccc;
  font-family: "FarnhamDisplayLightSC";
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .3em;
}

hr {
  width: 30%;
}

h2 img {
  width: 90%;
}

h2 img {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 25%;
  }

.button {
    font-family: "DINProLight";
    color: #ccc;
    margin: 20px 20px;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2 ease-in-out, color 0.2s ease-in-out;
  }

  .button:hover {
    background-color: #fff;

  }



  .quote, blockquote {
    color: #ccc;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    margin-top: 20%;
    font-family: "FarnhamDisplay-RegularItal";
    letter-spacing: .4em;
    text-transform: uppercase;
    font-size: .7em;
    padding: 0 10px;
    
  }

  blockquote {
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
    width: 80%;
    padding: 20px 0;
    line-height: 2em;
    margin-top: 0;
  }

  .quote-source {
    position: relative;
    right: -100px;
  }


/* GLOBAL FOOTER */

  footer {
    color: #ccc;
    text-align: center;
    background-color: rgba(103, 162, 185, .5);
    padding: 30px 0;
    font-family: "FarnhamDisplayLightSC";
    letter-spacing: .3em;
    margin-top: 30px;
    height: 50px;
    vertical-align: middle;
  }

  img.fbshare {
    margin-left: 20px;
    position: relative; 
    top: 15px;
    padding-left: 25px;
  }


/* Navigation */
  ul#navlist { 
    width: 100%;
    background-color: #15161f;

  }

  ul#navlist, ul#navlist ul, ul#navlist li
    {
      margin: 0px;
      padding-top: 4px; 
      list-style-type: none;
      padding-bottom: 4px;
    }

    ul#navlist li { float: left;   }

    ul#navlist li:first-child {
      
    } 

    ul#navlist li a
    {
      padding: 3px;
   

    }

    ul#navlist li a:after {
      
    }

    ul#navlist li a:last:after {
      
    }

    ul#navlist li a:hover
    {
      text-decoration: underline;
      color: #EEE;
    }

    ul#navlist li a:active
    {
      color: #EEE;
    }

    ul#subnavlist { display: none; background-color: #15161f;  }
    ul#subnavlist li { float: none;  }

    ul#subnavlist li a
    {
      padding: 0px;
      margin: 0px;
      line-height: .1em;
      text-decoration: none;
    }

    ul#navlist li:hover ul#subnavlist
    {
      display: block;
      position: absolute;
      font-size: 9pt;
      padding-top: 1px;

    }

    ul#navlist li:hover ul#subnavlist li a
    {
      display: block;
      width: 15em;
      border: none;
      padding: 0px;

    }

    ul#navlist li:hover ul#subnavlist li a:before {  }



/* PRACTICE AREAS */

html.practice { 
  background: url(../images/bg-practice.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}

header {
  width: 100%;
  background-color: #15161f;
  height: 60px;
  vertical-align: middle;

}

nav {
  position: relative;
  top: 18px;
  height: 30px;
  
}
#logo {
   float: left;
   margin-left: 20pt;
}

.spacer {
  padding-bottom: 140px;
}



header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  font-family: "DINProLight";
  text-transform: uppercase;
  font-size: 1em;


}

header li {
  display: inline;
  float: left;
  padding: 0 3pt;

}




.practice {
  background-color: rgba(0, 0, 0, 0.5); 
}



h3 {
  text-align: center;
  font-family: "FarnhamText-SeimiSC";
  font-size: 16pt;
  text-shadow: 1px 1px 2px #000;
  letter-spacing: 3pt;
  text-transform: uppercase;
  color: #eee;
  padding-top: 20px;
}

.body-text {
  text-align: left;
  font-family: "FarnhamText-Regular";
  font-size: .8em;
  padding: 5pt;
  line-height: 1.1em;
}

.author {
  font-size: .8em;
}


.disclaimer {
  font-family: "FarnhamDisplay-RegularItal";
  background-color: rgba(103, 162, 185, .5);
  padding: 35pt;
  text-align: justify;
  letter-spacing: .3pt;
  font-size: .8em;

}




/* Lawyer Specfic Styles */


h4 {
  color: #67a2b9;
  font-family: "FarnhamText-RegularSC"; 
  font-size: 1.2em;
  text-transform: uppercase;
}

.hero-photo {
  width: 223px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}


/* CONTACT */

html.contact { 
  background: url(../images/bg-contact.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}

.contact-intro {
  font-family: "FarnhamDisplay-RegularItal";
  font-size: 1.75em;
  font-weight: 100;
}

.contact-numbers {
  font-family: "DINProLight";
  font-size: 2em;
  text-decoration: none;
}

.number-title {
  font-family: "FarnhamDisplay-RegularItal";
  font-size: 1em;
  padding-right: 14px;

}

.button-primary {
  font-family: "DINProLight";
  font-size: 2em;
}

#first-name-input, #email-input, #tele-input, #message-input {
  font-family: "DINProLight";
  text-transform: uppercase;
}

.map {
  padding-top: 70px;
  background: url(../images/map.jpg) no-repeat center center; 
  width: 100%;
  height: 234px;
  color: #ddd;
  font-family: "FarnhamText-Regular";
  text-align: center;
  font-size: .8em;
  letter-spacing: .08em;
}

.view-map {
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 1em;

}

a.no-dec {
    text-decoration: none;
}

.view-map:hover {
  background-color: rgba(50, 50, 50, 0.3);
  color: #ddd;
}

.hide {
  visibility: hidden;
}


  /* Larger than mobile */
@media (min-width: 410px) {
  footer {
    height: 40px;
  }

  img.fbshare {
    top: 7px; 
  }

  .quote {
    padding: 0 10px; 
  }

  h2 img {
  width: auto;
}
  .map {
     font-size: 1.3em;
  }




}

/* Larger than tablet */
@media (min-width: 768px) {
    .quote {
      padding: 0 100px; }
    .body-text { 
      font-size: 1em;
      padding: 0 30px;
      line-height: 1.6em; }
    html {
      padding-top: 35pt;
    }
    div.practice {
      padding-top: 30pt;
    }
    .author {
      margin-left: 80px;
      font-size: 1.3em;
    }

    h3 {
      font-size: 25pt;
      letter-spacing: 8pt;
    }
    blockquote {
      width: 50%;
      padding: 30px 0;
      line-height: 3em;
    }
    .disclaimer {
      font-size: 1em;
    }
    header li {
      display: inline;
      float: left;
      padding: 0 10pt;
    }
    ul#navlist { 
      width: auto;

    }

    ul#navlist a
    {
      text-decoration: none;
      margin: 0 20pt;
    }

    ul#navlist, ul#navlist ul, ul#navlist li
    {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
    }

    ul#navlist li { float: left; }

    ul#navlist li a
    {
      padding: 3px;
    }

    ul#navlist li a:after {
      
    }

    ul#navlist li a:last:after {
      content: '';
    }

    ul#navlist li a:hover
    {
      text-decoration: underline;
      color: #EEE;
    }

    ul#navlist li a:active
    {
      color: #EEE;
    }

    ul#subnavlist { display: none; background-color: #15161f;  }
    ul#subnavlist li { float: none;  }

    ul#subnavlist li a
    {
      padding: 0px;
      margin: 0px;
      line-height: 1.5em;

    }

    ul#navlist li:hover ul#subnavlist
    {
      display: block;
      position: absolute;
      font-size: 9pt;
      padding-top: 5px;

    }

    ul#navlist li:hover ul#subnavlist li a
    {
      display: block;
      width: 15em;
      border: none;
      padding: 2px;

    }

    ul#navlist li:hover ul#subnavlist li a:before {  }

    ul#navlist li:first-child {
      padding-left: 0px;
    } 

/* Home Nav Styles */

    ul#home-navlist a
    {
      text-decoration: none;
      margin: 0 20pt;
    }

    ul#home-navlist, ul#home-navlist ul, ul#home-navlist li
    {
      margin: 0 20px;
      padding: 0px;
      list-style-type: none;
    }


    ul#home-navlist li a
    {
      padding: 30px;
      text-decoration: none;
    }

    ul#home-navlist li a:after {
      
    }

    ul#home-navlist li a:last:after {
      content: '';
    }

    ul#home-navlist li a:hover
    {
      text-decoration: underline;
      color: #222;
    }

    ul#home-navlist li a:active
    {
      color: #222;
    }



    ul#home-subnavlist { display: none; background-color: rgba(21, 22, 31, 0.8);  }
    ul#home-subnavlist li { float: none;  }

    ul#home-subnavlist li a
    {
      padding: 0px;
      margin: 0px;
      line-height: 1.5em;
      text-align: left;

    }

    ul#home-navlist li:hover ul#home-subnavlist
    {
      display: block;
      position: absolute;
      font-size: 9pt;
      padding-top: 5px;
      margin-top: -124px;
      height: 81px;
      margin-left: 0px;


    }

    ul#home-navlist li:hover ul#home-subnavlist li a
    {
      display: block;
      border: none;
      padding: 2px;
      font-size: 8pt;
      color: #fff;

    }

    ul#home-navlist li:hover ul#home-subnavlist li a:before {  }

    ul#home-navlist li:first-child {
      padding-left: 0px;
    } 

  }


