@font-face {
  font-family: FarnhamDisplayLightSC;
  src: url(../fonts/farnham/FarnhamDisplay-LightSC.otf);
}

@font-face {
  font-family: DINProLight;
  src: url(../fonts/din/DINPro-Light.otf);
}

@font-face {
  font-family: FarnhamDisplay-RegularItal;
  src: url(../fonts/farnham/FarnhamText-RegularItalic.otf);
}

@font-face {
  font-family: FarnhamText-SeimiSC;
  src: url(../fonts/farnham/FarnhamText-SemiboldSC.otf);
}

@font-face {
  font-family: FarnhamText-Regular;
  src: url(../fonts/farnham/FarnhamText-RegularSC.otf);
}


html.homepage { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

body {
  color: #ccc;
}

a {
  color: #ccc;
}


.header {
  text-align: center;
}

h2 {

  color: #ccc;
  font-family: "FarnhamDisplayLightSC";
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .3em;
}

hr {
  width: 20%;
}

h2 img {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 25%;
  }

.button {
    font-family: "DINProLight";
    color: #ccc;
    margin: 20px 20px;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2 ease-in-out, color 0.2s ease-in-out;
  }

  .button:hover {
    background-color: #fff;

  }

  .quote, blockquote {
    color: #ccc;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    margin-top: 20%;
    font-family: "FarnhamDisplay-RegularItal";
    letter-spacing: .4em;
    text-transform: uppercase;
    font-size: .7em;
    padding: 0 10px;
    
  }

  blockquote {
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc; 
    width: 80%;
    padding: 20px 0;
    line-height: 2em;
    margin-top: 0;
  }

  .quote-source {
    position: relative;
    right: -100px;
  }


/* GLOBAL FOOTER */

  footer {
    color: #ccc;
    text-align: center;
    background-color: rgba(103, 162, 185, .5);
    padding: 30px 0;
    font-family: "FarnhamDisplayLightSC";
    letter-spacing: .3em;
    margin-top: 30px;
    height: 50px;
    vertical-align: middle;
  }

  img.fbshare {
    margin-left: 20px;
    position: relative; 
    top: 15px;
  }


/* TOOLTIPS */
  a.tooltips {
    position: relative;
    display: inline;
  }
  a.tooltips span {
    position: absolute;
    width:140px;
    color: #FFFFFF;
    background: #000000;
    height: 30px;
    line-height: 30px;
    text-align: center;
    visibility: hidden;
    border-radius: 6px;
  }
  a.tooltips span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid #000000;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
  a:hover.tooltips span {
    visibility: visible;
    opacity: 0.8;
    top: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
  }



/* PRACTICE AREAS */

html.practice { 
  background: url(../images/bg-practice.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}

header {
  width: 100%;
  background-color: #15161f;
  height: 60px;
  vertical-align: middle;

}

nav {
  position: relative;
  top: 18px;
  height: 30px;
  margin: 0 20pt;
}
#logo {
   float: left;
}

.spacer {
  padding-bottom: 100px;
}



header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  font-family: "DINProLight";
  text-transform: uppercase;
  font-size: 1em;


}

header li {
  display: inline;
  float: left;
  padding: 0 10pt;

}


.practice {
  background-color: rgba(0, 0, 0, 0.5); 
}



h3 {
  text-align: center;
  font-family: "FarnhamText-SeimiSC";
  font-size: 30pt;
  text-shadow: 1px 1px 2px #000;
  letter-spacing: 8pt;
  text-transform: uppercase;
  color: #eee;
}

.body-text {
  text-align: justify;
  font-family: "FarnhamText-Regular";
  font-size: .8em;
  padding: 5pt;
}

.author {
  font-size: .8em;
}


.disclaimer {
  font-family: "FarnhamDisplay-RegularItal";
  background-color: rgba(103, 162, 185, .5);
  padding: 35pt;
  text-align: justify;
  letter-spacing: .3pt;
  font-size: .8em;

}






  /* Larger than mobile */
@media (min-width: 410px) {
  footer {
    height: 40px;
  }

  img.fbshare {
    top: 7px; 
  }

  .quote {
    padding: 0 10px; 
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .quote {
      padding: 0 100px; }
    .body-text { 
      font-size: 1em; }
    .practice {
      padding: 35pt 0;
    }
    .author {
      margin-left: 80px;
      font-size: 1.3em;
    }
    blockquote {
      width: 50%;
      padding: 30px 0;
      line-height: 3em;
    }
    .disclaimer {
      font-size: 1em;
    }

